nav {
    display: flex;
    flex-direction: column;
    background-color: #2A2420;
    color: whitesmoke;
    padding: 5px 20px 5px 20px;
    width: 125px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav a {
    color: whitesmoke;
    margin-bottom:1em;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: whitesmoke;
    color: black;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    margin: 0;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

br{
    margin: 1em;
}

.main {
    padding: 5px;
    width: 100%;
    margin-left: 200px;
}

.gapped {
    display: flex;
    /* flex-direction: column; */
    gap: 5px;
}

.container {
    display: flex;
    gap: 10px;
    align-content: center;
}

.container h2 {
    margin-top: 0px;
}

.col-flex {
    flex-direction: column;
}

.box {
    border-radius: 6px;
    background-color: #567257;
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 5px;
    overflow-wrap:break-word;
}

#seat-list {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 40.5vw;
}

.row {
    display: flex;
    height: 400vw;
}

.seat {
    background-color: whitesmoke;
    border: 3px #567257 solid;
    border-radius: 5px;
    width:100%;
    height: 95%;
}

.selected-seat 
{
    background-color: #979e8d;
    border: 3px #567257 solid;
    border-radius: 5px;
    width:100%;
    height: 95%;
}

.seat:hover
{
    background-color: rgb(207, 226, 180);
    transition: all .1s ease-in;
}

.selected-seat:hover
{
    background-color: rgb(127, 169, 100);
    transition: all .1s ease-in;
}

.center {
    justify-content: center;
}

.aligned {
    align-items: center;
}

#reserve-list h3 {
    padding-top: 20px;
    padding-bottom: 5px;
}

#reserve-list-box {
    /* color: green; */
    background-color: #2A2420;
    border: 3px #2A2420 solid;
    width: 15vw;
    height: 40vw;
    overflow-y:scroll;
}

.seat-title {
    color:#e5dcd6;
}

hr{
    border-color:#6f6053;
    border-style:solid;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 46%, 0.5);
  border-radius: 8px;
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

#reserve-btn {
    align-self:flex-end;
    width: 100%;
    margin-top: 1em;
}

.seat-title {
    margin: 0px;
}

select {
    font-family: "Inter", sans-serif;
    border: 3px #567257 solid;
    border-radius: 6px;
    background-color: #567257;
    color: white;
}

button:hover, select:hover, input[type=submit]:hover, input[type=button]:hover {
    background-color: #2A2420;
    border: 3px #2A2420 solid;
    transition: all .1s;
}

button:active, input[type=submit]:active, input[type=button]:active {
    background-color: aliceblue;
    border: 3px #2A2420 solid;
    color: black;
}

button, input[type=submit], input[type=button] {
    font-family: "Inter", sans-serif;
    border: 3px #567257 solid;
    border-radius: 6px;
    background-color: #567257;
    color: white;
}

.picture {
    display: flex;
    flex-direction: column;
}

.short {
    width: 150px;
    margin-top: 5px;
}

.profile-edit {
    float: right;
    width: 350px;
    margin-left: 100px;
}

.bottom-line {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: #2A2420 3px solid;
}

.desc {
    height: 60px;
}

.float-right {
    float: right;
    margin-right: 360px;
}

.cells{
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.warning {
    color: red;
}

.inverse-color {
    color: black;
    background-color: white;
}

.inverse-color:focus, .inverse-color:hover {
    background-color: white;
}

.narrow {
    height: 30px;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: aliceblue;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 60%;
}

#cancel {
    background-color: red;
    border: red 3px solid;
    color: aliceblue;
}

.bottom-padding {
    padding-bottom: 30px;
}

#cancel:hover {
    background-color: whitesmoke;
    border: 3px #2A2420 solid;
    color: #2A2420;
    transition: all .1s;
}

#cancel:active {
    background-color: red;
    color: whitesmoke;
}

#confirmed-text {
    color: #FFFFFF;
    font-weight:bold;
    font-size:30px;
}