nav {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width: 100%;
    height:32px;
    position: fixed;
    align-items:center;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 16px;
    padding-left: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

nav a {
    margin-right: 50px;
    color: #006341;
    margin-bottom:1em;
    font-size: 20px;
    text-decoration: none;
	transition: all .1s ease-in;
}

nav a:hover {
    margin-right: 50px;
    background-color: #006341;
    color: whitesmoke;
}

body {
	background: linear-gradient(135deg, #f3f4f6, #e5e7eb);
    font-family: "Inter", sans-serif;
    display: flex;
    margin: 0;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

br{
    margin: 1em;
}

.main {
    margin-left:40px;
    margin-right:40px;
    padding: 5px;
    margin-top:80px;
    width: 100%;
}

.gapped {
    display: flex;
    /* flex-direction: column; */
    gap: 5px;
}

.container {
    display: flex;
    gap: 10px;
    align-content: center;
}

.container h2 {
    margin-top: 0px;
}

.col-flex {
    flex-direction: column;
}

.box {
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 5px;
    overflow-wrap:break-word;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
	padding-left: 30px;
	padding-right: 30px;
	border-radius:10px;
}

#seat-list {
	background-color: #00634100;
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 40.5vw;
}

.row {
    display: flex;
    height: 400vw;
	margin: 0px;
	padding: 0px;
}

.seat {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    width:100%;
    height: 95%;
	margin-right:6px;
}

.seat:hover
{
    background-color: #4da888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
    transition: all .1s ease-in;
	transform: scale(1.08);
}

.selected-seat 
{
    background-color: #97aaa3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    width:100%;
    height: 95%;
	margin-right:6px;
}

.selected-seat:hover
{
    background-color: #00744b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
    transition: all .1s ease-in;
}

.center {
    justify-content: center;
}

.aligned {
    align-items: center;
}

#reserve-list h3 {
    padding-top: 20px;
    padding-bottom: 5px;
}

#reserve-list-box {
    color: #2A2420;
	margin-top:10px;
    background-color: #00000000;
    width: 18vw;
    height: 39vw;
    overflow-y:scroll;
}

hr{
    border-color:#cbc7c5;
    border-style:solid;
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 0.5px;
}

/* WebKit browsers */
.scroll-container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 46%, 0.5);
  border-radius: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */.scroll-container {
  overflow: auto;      /* or overflow-y: auto */
  scrollbar-width: thin;
  scrollbar-color: hsla(0,0%,46%,0.5) transparent;
}


.remove-reservation {
    margin-top: 8px;
}

.seat-title {
    margin: 0px;
}

select {
    font-family: "Inter", sans-serif;
    border: 3px #006341 solid;
    border-radius: 6px;
    background-color: #006341;
    color: white;
}

button:hover, select:hover, input[type=submit]:hover, input[type=button]:hover {
    background-color: #2A2420;
    border: 3px #2A2420 solid;
    transition: all .1s;
}

button:active, input[type=submit]:active, input[type=button]:active {
    background-color: aliceblue;
    border: 3px #2A2420 solid;
    color: black;
}

button, input[type=submit], input[type=button] {
    font-family: "Inter", sans-serif;
    border: 3px #006341 solid;
    border-radius: 6px;
    background-color: #006341;
    color: white;
}

.picture {
    display: flex;
    flex-direction: column;
}

.short {
    width: 150px;
    margin-top: 5px;
}

.profile-edit {
    float: right;
    width: 350px;
    margin-left: 100px;
}

.bottom-line {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: #2A2420 3px solid;
}

.desc {
    height: 60px;
}

.float-right {
    float: right;
    margin-right: 360px;
}

.cells{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
	border-bottom: 1px solid #cbc7c5;
}

.warning {
    color: rgb(186, 46, 46);
}


#cancel-btn {
    background-color: rgb(186, 46, 46);
	color: white;
	border:none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
	height:30px;
	width:150px;
}

#cancel-btn:hover
{
    transition: all .1s ease-in;
	transform: scale(1.008);
}

.inverse-color {
    color: black;
    background-color: white;
}

.inverse-color:focus, .inverse-color:hover {
    background-color: white;
}

.narrow {
    height: 30px;
    align-items: center;
}

.bottom-padding {
    padding-bottom: 30px;
}


.error-bg {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.error {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
}

.modal-h2 {
    margin-block-start:0;
}

.modal-td {
    padding-bottom:20px;
}

.modal-input {
    background-color:#006341;
    color: white;
    border-style:solid;
    /* border-width: 4px; */
    border-radius:3px;
    border-color:#006341;
    outline:none;
}

.modal-input::placeholder {
    color: rgb(208, 220, 201);
}

#cancel {
    background-color: #d95746;
    border: #d95746 3px solid;
    color: aliceblue;
}

#cancel:hover {
    background-color: whitesmoke;
    border: 3px #2A2420 solid;
    color: #2A2420;
    transition: all .1s;
}

#cancel:active {
    background-color: #d95746;
    color: whitesmoke;
}

#confirmed-text {
    font-weight:bold;
    font-size:30px;
}

.seat-title a {
    color: #2A2420;
}

.profile-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-div a {
    color: #2A2420;
}

.left-justify {
    justify-content: left;
}

.profile-div h3 {
    margin: 0;
    display: flex;
    align-items: center;
}

.profile-div h3 a {
    display: inline-block; 
    line-height: 1;
    text-decoration: none; 
    border-bottom: 2px solid #333;
}

.profile-div h3 a {
    position: relative;
    top: -5px;
}

.mini-profile {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 40px;
    border-radius: 40px;
}

.expand {
    width: 70%;
}