.react-datepicker {
	background-color:rgb(46, 46, 49); 
	border: 1px solid #444;
	font-family: 'Google Sans';
}

.react-datepicker__current-month{
	color: rgb(197, 197, 197);
}

.react-datepicker__header {
	background-color:rgb(46, 46, 49); 
	border-bottom: 1px solid #444;
}

.react-datepicker__day,
.react-datepicker__day-name {
	color: rgb(197, 197, 197);
}

.react-datepicker__day:not([aria-disabled="true"]):hover{
	background-color:rgb(64, 64, 66);
	transition: background-color 0.2s ease-in-out;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
	background-color: #90caf9;
	color: black;
}

.react-datepicker__day--disabled {
	color: rgb(121, 121, 121);
}
